@import './../../shared/placeholder';

.home-page {
    @extend .d-flex;
    @extend .flex-wrap;
    padding: 0 5rem;

    &-card {
        @extend .d-flex;
        border-radius: .2rem;
        box-shadow: rgba(60, 64, 67, .3) 0 .1rem .2rem 0, rgba(60, 64, 67, .15) 0 .1rem .3rem .1rem;
        margin: .5rem 0;
        height: 10rem;
        padding: .7rem;

        &:hover {

        }

        &-cover {
            height: 85%;
            width: 85%;
        }

        &-name {
            @extend %text-ellipses;
        }

        &-author {
            @extend %text-ellipses;
        }

        &-text {
            overflow: hidden;
            padding: .5rem;
            width: 70%;
        }

        &-img {
            width: 30%;
            text-align: center;
        }

        &-description {
            font-size: .8em;
            padding: .3rem .3rem 0;
        }
    }
}
