@import '~eva-icons/style/scss/eva-icons';
@import '~bootstrap';
@import '~toastr/toastr';
@import 'shared/placeholder';
@import 'components/book/book';
@import 'components/home-page/home-page';
@import 'components/book/book-evaluation/book-evaluation';
@import 'components/login/login';

.main-body {
    margin: .4rem;
}

.btn {
    margin-left: .3rem;
}

.table tr td {
    vertical-align: middle;
}

.wrap-column {
    max-width: 50rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-90w {
    width: 90vw;
    max-width: 90vw;
}

.pointer {
    cursor: pointer;
}
